body {
  font-family: "Noto Sans", sans-serif;
}

.navbar {
  background-color: black !important;
  font-family: "Roboto Mono", monospace;
}

.navbar-brand {
  margin-left: 50px;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  grid-auto-rows: 1fr;
}

h1 {
  font-weight: 340;
  font-size: 30px;
  margin-bottom: 70px;
  font-family: "Open Sans Condensed", sans-serif;
}

u {
  padding-bottom: 30px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.card {
  height: 100%;
}

.card-text {
  color: black;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.jumbotron {
  background-image: url(../img/ddg-bg.jpg);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 0rem;
}

.jumbotron h2 {
  font-weight: 100;
  font-size: 40px;
  font-family: sans-serif;
  color: aliceblue;
}

.jumbotron p {
  font-weight: 800;
  font-size: 50px;
  font-family: sans-serif;
  color: aliceblue;
}

.footer {
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}
